@model Merchandise_Sport_master.Models.User

@{
    ViewData["Title"] = "AccessDenied ";
    Layout = "_LoginLayout";
}

<h1>You are not authrized to access this page</h1>

<a asp-action="Logout">Click here </a> to signin using a different user