@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    1) Purchased products can be returned up to 14 days from the date of purchase, as long as they have not been used and no action has been taken on them that assigns the product to the customer.
</p>
<p>
    2) The store is an online store only, for any problem you can contact the management branch at the address - Eli Wiesel 2 Rishon Lezion.

</p>
<p>
    3) In the event of a defective product, it is necessary to contact the hotline urgently.

</p>
<p>
    4) The site staff is not responsible for the exclusivity of the products, and is free of claims for the originality of the product.

</p>

